@import "../../styles/z-index-util.scss";

.quote-container {
  background-color: turquoise;
  position: relative;
  z-index: z(quote);
  padding: 100px 0;

  &__quote {
    display: flex;
    align-items: center;
  }
}
