@import "../../styles/z-index-util.scss";

.quote-container {
  background: url('../../img/ocean.jpg') no-repeat bottom / cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: z(quote);

  &__quote {
    display: flex;
    align-items: center;

    &__text {
      font-size: 20px;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
}
