@import "../../styles/z-index-util.scss";

.header {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  text-align: center;
  position: relative;
  z-index: z(header);

  &__container {
    display: inline-block;
    transition: transform 0.4s ease-in-out;

    &__logo {
      animation: spin 10s linear infinite;
    }

    &:hover {
      transform: translateY(150%) scale(3) rotate(-360deg);
    }

    &:hover &__logo {
      animation: spin-backwards 10s linear infinite;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-backwards {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}
